body{
    background-color: rgb(241, 241, 241);
    margin: 0;
    padding: 0;
}
.menu-section{
    width: 100vw;
    background-color: rgb(241, 241, 241);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}
.menu-content{
    padding-top: 7rem;
    position: relative;
    text-align: center;
}
.menu-content h1{
    color: #000;
    font-size: 44px;
}
p{
    color: #000;
    font-size: 18px;
}
.menu-btn{
    margin: 10px 5px;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    background-color: white;
}
.menu-btn:hover{
    background-color: rgb(236, 236, 236);
}
.menu_grid {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    gap: 40px;
    margin-bottom: 3rem;
    padding: 1rem;
    justify-content: center;
}
.dish_card {
    width: 380px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.dish_card:hover {
    transform: scale(1.05);
}
.dish_card img {
    width: 380px;
    height: 200px;
    object-fit: cover;
}
.dish_info {
    padding: 1rem;
}
.dish_info span{
    color: #000;
}
.dish_info p{
    color: gray;
}
.dish_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.dish_header h3 {
    margin: 0;
    font-size: 1.2rem;
}
.price {
    color: #000;
    font-weight: bold;
    font-size: 1.1rem;
}
.dish_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
}
.dish_footer .time{
    color: gray;
}
.dish_footer .status{
    padding: 8px 20px;
    border: none;
    color: #1e5631;
    background-color: #d7f7e3;
    border-radius: 20px;
}