{% load static %}
<nav class="navbar fixed-nav">
    <link rel="stylesheet" href="{% static "style.css" %}"/>
    <div class="container">
        <div class="logo">
            <h1>Les Plaisirs Secrets</h1>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'menu' %}">Menu</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'reservation' %}">Reservation</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account' %}">Account</a>
            </li>
        </ul>
        <button class="book-btn" type="submit">Book a table</button>
    </div>
</nav>