{% load static %}
<nav class="navbar fixed-nav">
    <link rel="stylesheet" href="{% static "style.css" %}"/>
    <div class="container">
        <div class="logo">
            <h1>Les Plaisirs Secrets</h1>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'menu' %}">Menu</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'reservation' %}">Reservation</a>
            </li>
        </ul>
        <div class="nav-buttons">
            <button class="signin-btn">Sign In</button>
            <a href="{% url 'reservation' %}"><button class="book-btn">Book a table</button></a>
        </div>
    </div>
</nav>