{% extends 'base.html' %}
{% load static %}

{% block title %}Les Plaisirs Secrets - Profile{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block content %}
<section class="profile-section">
    <div class="profile-list-left">
        <div class="my-profile">
            <div>
              <img src="{% static 'images/profile-img.jpg' %}" alt="profile-img"/>
            </div>
            <div class="second-column">
              <h2 class="name">John Doe</h2>
              <p class="status">Gold Member</p>
            </div>
        </div>
        <div class="nav">
            <ul class="nav-menu">
                <li class="nav-items">
                    <i class="fas fa-user"></i>
                    <span>Profile</span>
                </li>
                <li class="nav-items">
                    <i class="fas fa-calendar-alt"></i>
                    <span>Reservations</span>
                </li>
                <li class="nav-items">
                    <i class="fas fa-shopping-bag"></i>
                    <span>Orders</span>
                </li>
                <li class="nav-items">
                    <i class="fas fa-heart"></i>
                    <span>Favorites</span>
                </li>
                <li class="nav-items">
                    <i class="fas fa-cog"></i>
                    <span>Settings</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="profile-list-right">
        <h2>Profile Information</h2>
        <form>
            <div class="list-col1">
                <div class="fname">
                    <label for="fname">First Name:</label>
                    <input type="text" placeholder="Name...">
                </div>
                <div class="email">
                    <label for="email">Email:</label>
                    <input type="email" placeholder="Email...">
                </div>
                <div class="date">
                    <label for="date">Birthday:</label>
                    <input type="date">
                </div>
            </div>
            <div class="list-col1">
                <div class="lname">
                    <label for="lname">Last Name:</label>
                    <input type="text" placeholder="Name...">
                </div>
                <div class="phone">
                    <label for="phone">Phone:</label>
                    <input type="tel" placeholder="Phone...">
                </div>
                <div class="anniversary">
                    <label for="anniversary">Anniversary:</label>
                    <input type="date">
                </div>
            </div>
        </form>
        <div class="list-info">
            <div class="info-c1">
                <label for="address">Address:</label>
                <input type="address">
            </div>
            <div class="info-c2">
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
        </div>
    </div>
</section>

{% endblock %}